doctype html
html(lang='ja', dir="ltr", itemscope itemtype="//schema.org/WebPage")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		block title
			title
		block meta
			meta(name="description", content="")
			meta(name="keyword", content="")
		include _ogp.jade
		block css
			link(rel="stylesheet", href="/css/common.css")
		block js
			script(src="/js/lib.js")
			script(src="/js/common.js")
	body
		block body
