doctype html
html(lang='ja',dir="ltr",itemscope itemtype="http://schema.org/WebPage")
  head
    meta(charset="UTF-8")
    title
    meta(name="")
    meta(name="keyword",content="")
    meta(name="description",content="")
    meta(property="og:title", content="")
    meta(property="og:type", content="website")
    meta(property="og:description", content="")
    meta(property="og:image", content="")
    meta(property="og:url", content="")
    meta(property="og:locale", content="ja_JP")
    meta(property="fb:app_id" content="")
    link(href="/css/common.css")
    script(src="/js/lib.js")
    script(src="/js/common.js")
  body
    p トップページです
