// 参考：http://primercss.io/buttons/#  :http://www.w3schools.com/css/default.asp
// プロジェクト毎に適切なスタイルに変更する。

// ==========================================================================
//  default
// ==========================================================================

.c-btn {
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #eee;
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
}

// ==========================================================================
//  Modifier
// ==========================================================================

// -----------------------------------------------------------------
// color
// -----------------------------------------------------------------
.c-btn--primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	background-color: #60b044;
	background-image: linear-gradient(#8add6d, #60b044);
	border-color: #5ca941;
	&:hover {
		color: #fff;
		background-color: #569e3d;
		background-image: linear-gradient(#79d858, #569e3d);
		border-color: #4a993e;
	}
}

.c-btn--danger {
	color: #900;
	&:hover {
		color: #fff;
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630);
    border-color: #cd504a;
	}
}

.btn--outline {
  color: #4078c0;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
	&:hover {
		color: #fff;
		background-color: #4078c0;
		background-image: none;
		border-color: #4078c0;
	}
}

// -----------------------------------------------------------------
//  size
// -----------------------------------------------------------------

.c-btn--small {
	padding: 3px 10px;
}

.c-btn--big {
	padding: 15px 30px;
}
