// 参考：http://primercss.io/buttons/#  :http://www.w3schools.com/css/default.asp
// プロジェクト毎に適切なスタイルに変更する。

// ==========================================================================
//  default
// ==========================================================================

.c-btn {
	position: relative;
	display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

// ==========================================================================
//  Modifier
// ==========================================================================

// -----------------------------------------------------------------
// color
// -----------------------------------------------------------------
.c-btn--primary {
	// ボタンの色
	&:hover {
		// ホバー時
	}
}

.c-btn--danger {
	// ボタンの色
	&:hover {
		// ホバー時
	}
}

.c-btn--outline {
  // ボタンの色
	&:hover {
			// ホバー時
	}
}

// -----------------------------------------------------------------
//  size
// -----------------------------------------------------------------

.c-btn--small {
	// ボタンサイズ
}

.c-btn--normal {
	// ボタンサイズ
}

.c-btn--large {
	// ボタンサイズ
}
