// 参考: http://www.webcreatorbox.com/tech/flexbox/
//      http://coliss.com/articles/build-websites/operation/css/css3-flexbox-properties-by-scotch.html

// デフォルト(横)
%c-grid {
  display: flex;
  flex-flow: row wrap;
}

// (縦)
%c-gridVertical {
  display: flex;
  flex-flow: column wrap;
}

// 中央寄せ
%c-gridCenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


// ==========================================================================
//  ここから下はIE9以下に対応する際に使用をすることを検討
// ==========================================================================

// %c-grid {
//   font-size: 0;
// }
//
// %c-grid__item {
//   display: inline-block;
//   vertical-align: bottom;
// }

